# Archivo .env.example
# Este es un EJEMPLO de cómo debe verse tu archivo .env

# ========= VARIABLES PARA PIPELINE CRIPTOMONEDAS Y DÓLAR =========

# API Key de CoinGecko...
COINGECKO_API_KEY=CG-4jnjuegGX7HqKWnVYTEU19H7